.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
  width: 95% !important;
  border-radius: 3rem !important;
  left: 3% !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  left: 3% !important;
}
