html {
  height: 100vh;
  background-image: url("https://i.pinimg.com/originals/f9/47/74/f94774094cdb0632c80e94a27d4de239.gif");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
